@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>

@section scripts {
    <script src="https://use.fontawesome.com/60476dc6c6.js"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
